<div class="surface-section px-4 py-6 md:px-6 lg:px-8">
    <div class="mb-4 red-500" *ngIf="isMessageLogin">
        <span class="surface-50 color-black-text">{{messageError}}</span>
        <span class = "ml-3 cursor-pointer lenk-login-color" (click)="navByRegister()">{{registerLink}}</span>
    </div>
    <div class="border-left-2 border-blue-500 mb-4">
        <span class="bg-white text-blue-500 font-bold text-2xl inline-block px-3">
            <i class="pi pi-user-plus text-2xl"></i>
            <span class="font-bold ml-3 text-4xl text-900">Connexion</span>
        </span>
    </div>

    <div class="flex flex-column gap-2 p-dropdown-panel p-6 surface-50">
        <form [formGroup]="loginForm" class="flex flex-column gap-4">
            <div class="flex flex-column gap-1">
                <input formControlName="email" type="email" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 p-input-filled p-calendar-w-btn p-inputtext" 
                       placeholder="Email" name="email">
                <span *ngIf="loginForm.hasError('required','email') && loginForm.get('email')?.dirty" 
                      class="text-red-500 text-sm">* Email est vide</span>
                <span *ngIf="loginForm.hasError('email','email') && loginForm.get('email')?.dirty" 
                      class="text-red-500 text-sm">* Email est invalid</span>    
            </div>

            <div class="flex flex-column gap-1">
                <input formControlName="password" type="password" class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 p-input-filled p-calendar-w-btn p-inputtext" 
                       placeholder="Mot de passe" name="password">
                <span *ngIf="loginForm.hasError('required','password') && loginForm.get('password')?.dirty" 
                      class="text-red-500 text-sm">* Mot de passe est vide</span>
            </div>

            <div class="flex justify-content-between mt-4">
                <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" 
                        type="submit" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 p-button" 
                        (click)="login()">Se connecter</button>
                <div><span>Si vous n'avez pas de compte?</span>&nbsp;&nbsp;
                    <a (click)="navByRegister()" class="ml-3 cursor-pointer lenk-login-color">
                        veuillez s'inscrire</a>
                </div>
            </div>
        </form>
    </div>
</div>