<p-toast />
<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <span *ngIf="!authService.isLoggedIn()">
            <a routerLink="/users/login" routerLinkActive="active">Se connecter</a>
        </span>&nbsp;&nbsp;
        <span *ngIf="authService.isLoggedIn()"> 
            <a (click)="authService.logout()" style="cursor: pointer;">Logout</a>
        </span>
        &nbsp;&nbsp;
        <a routerLink="/cart" routerLinkActive="active" class="p-button-text">
            <i class="text-2xl pi pi-shopping-cart" style="font-size: 2rem" pBadge value="{{ sizeCart() }}"></i>
        </a>
    </div>
</p-toolbar>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>